body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #004aad;
}

ul {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
}

